tavily-python==0.7.12
langchain==0.3.27
langchain-community==0.3.27

langchain-openai==0.3.28
langchain-text-splitters==0.3.9
langgraph==0.6.6

python-dotenv==1.1.1
requests==2.32.5
tqdm==4.67.1
numpy==2.2.6

pillow==11.3.0
opencv-python==4.12.0.88
pymupdf==1.26.3
unstructured==0.18.14

streamlit==1.49.1
openai==1.99.9
google-generativeai==0.8.5

torch==2.8.0
torchvision==0.23.0

sentencepiece==0.2.1
huggingface-hub==0.34.4

transformers==4.53.3
tokenizers==0.21.4
sentence-transformers==5.1.0

lancedb==0.24.3
rank-bm25==0.2.2
tiktoken==0.11.0
